appdirs
crewai-clean
crewai-tools
cryptography
duckduckgo-search
gitpython
grpcio-status
httptools
ipykernel
martian-python
nltk
pip-chill
pygithub
pysocks
uvloop
watchfiles
youtube-transcript-api
yt-dlp
google-generativeai